src/conf/xml-resources/web-service-references/consultasql/wsdl/serviap2009.umariana.edu.co/consultorios/consultasql.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="con" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatasetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatasetResult">
              <s:complexType>
                <s:sequence>
                  <s:element name="TIPO_PERSONA" type="s:string" minOccurs="0" /> 
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="con" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDatasetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataset" />
  </wsdl:message>
  <wsdl:message name="GetDatasetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatasetResponse" />
  </wsdl:message>
  <wsdl:message name="GetStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="GetStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:portType name="consultasqlSoap">
    <wsdl:operation name="GetDataset">
      <wsdl:input message="tns:GetDatasetSoapIn" />
      <wsdl:output message="tns:GetDatasetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <wsdl:input message="tns:GetStringSoapIn" />
      <wsdl:output message="tns:GetStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultasqlSoap" type="tns:consultasqlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataset">
      <soap:operation soapAction="http://tempuri.org/GetDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap:operation soapAction="http://tempuri.org/GetString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="consultasqlSoap12" type="tns:consultasqlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataset">
      <soap12:operation soapAction="http://tempuri.org/GetDataset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap12:operation soapAction="http://tempuri.org/GetString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultasql">
    <wsdl:port name="consultasqlSoap" binding="tns:consultasqlSoap">
      <soap:address location="http://serviap2009.umariana.edu.co/consultorios/consultasql.asmx" />
    </wsdl:port>
    <wsdl:port name="consultasqlSoap12" binding="tns:consultasqlSoap12">
      <soap12:address location="http://serviap2009.umariana.edu.co/consultorios/consultasql.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>